{% extends "base.html" %}

{% block extrahead %}
  <link rel="stylesheet" href="{{ 'css/min.css' | url }}">
{% endblock %}

{% block announce %}
  <span style="font-size: 0.8rem;">
    Bruce Wen's Notes — Technical knowledge base.
    <a href="https://github.com/wenijinew" style="margin-left: 0.5rem;">
      <span class="twemoji">
        {% include ".icons/fontawesome/brands/github.svg" %}
      </span>
      <strong>@wenijinew</strong>
    </a>
  </span>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ 'javascript/min.js' | url }}"></script>
{% endblock %}
